<section id="contact" class="footer_wrapper wrapper">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Location</h5>
                <p class="ps-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis non sit sed nesciunt?
                    Dignissimos rem maiores placeat libero eum reprehenderit, corrupti saepe maxime inventore similique
                    tenetur ducimus amet voluptatibus repudiandae.</p>
                <div class="contact_info">
                    <ul class="list-unstyled">
                        <li><a href="#">No 96, South City, London</a></li>
                        <li><a href="#">No 96, South City, London</a></li>
                        <li><a href="#">No 96, South City, London</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>More Links</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Office</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Our Store</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>More Links</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Office</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Our Store</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Newsletter</h5>
                <div class="form-group mb-4">
                    <input type="email" class="form-control bg-transparent" placeholder="Enter Your Email">
                    <button type="submit" class="main-btn rounded-2 mt-3 border-white  text-white">Subcribe</button>
                </div>
                
            </div>
        </div>

    </div>
    <div class="container-fluid copyright-section text-center">
        <p class="p-0">Copyright<a style="text-decoration: none;color:white;" href="#">@2023</a> All Rights Reserved</p>
    </div>
</section>