.footer_wrapper{
    background-image: url('/assets/images/footer.jpg');
    color: white;
    padding: 10px;
} 

.footer_wraper ul li{
    margin-bottom:.5rem;
    list-style: none;
    font-size: .875rem;
}

.link-widget li a{
    color:white;
    text-decoration: none;
}

.list-unstyled li a{
    color:white;
    text-decoration: none;
}

.main-btn{
    display:inline-block;
    border:0.0625rem solid white;
    color:white;
    text-align:center;
    padding:.75rem 1.375rem;
    font-size:1rem;
    background:transparent;
    text-transform: capitalize;
    border-radius:.1875rem;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}



