<div class="container p-10 mt-5" style="margin-bottom:10%;">
    <div class="text-center">
        <h1 class="display-4">BOOK YOUR APPOINTMENT</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <form>
                        <div class="card-header bg-primary text-white">
                            <h2>DOCTOR DETAILS</h2>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row h-200 ">
                                    <div class="col-md-8">
                                        <h5 class="card-title"><span>Dr. {{doctor.dd.first_NAME}}
                                                &nbsp;{{doctor.dd.last_NAME}}
                                            </span></h5>
                                        <p class="card-text"> {{doctor.dd.specialization}}</p>
                                        <p class="card-text">{{doctor.dd.chembar_ADDRESS}}</p>
                                        <p class="card-test"><span class="badge rounded-pill bg-success text-white"><b>₹
                                                    {{doctor.dd.visiting_PRICE}}</b></span></p>

                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div>
                                            <h5 class="card-title">Choose Your Slot</h5>
                                            <div class="card-text justify-content-end">
                                                <div *ngFor="let a of appointmentSchedule" class="form-check">
                                                    <input class="form-check-input" type="radio" id="gridCheck"
                                                        name="appointment_SCHEDULE_ID"
                                                        [(ngModel)]="appoimentDetails.appointment_SCHEDULE_ID"
                                                        value="{{a.id}}">
                                                    <label class="form-check-label" for="gridCheck">
                                                        <b>{{a.schedule_DAY}}</b> FROM <b>{{a.schedule_TIME_START}}</b>
                                                        TO
                                                        <b>{{a.schedule_TIME_END}}</b>
                                                    </label>
                                                </div>
                                                <div *ngIf="slotEmpty" class="alert alert-danger" role="alert">
                                                    ALL SLOTS ARE BOOKED.<br>
                                                    WAIT UNTILL NEW SLOTS ARE ALLOCATED.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <form>
                        <div class="card-header bg-primary text-white">
                            <h2>YOUR DETAILS</h2>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row h-200 ">
                                    <div class="col-md-8">
                                        <h5 class="card-title"><span>{{patient.patientDetails.first_NAME}} &nbsp;
                                                {{patient.patientDetails.last_NAME}}
                                            </span></h5>
                                        <p class="card-text">{{patient.patientDetails.gender}}</p>
                                        <p class="card-text"><b>{{patient.patientDetails.mobile_NO}}</b></p>
                                        <p class="card-text">{{patient.patientDetails.email_ID}}</p>
                                        <p class="card-text">{{patient.patientDetails.address}}</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                [disabled]="appoimentDetails.appointment_SCHEDULE_ID==null">Book Appointment</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Make Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h1><span class="badge bg-primary">₹ {{doctor.dd.visiting_PRICE}}</span></h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close"
                        (click)="bookAppointment()">Make Payment</button>
                </div>
            </div>
        </div>
    </div>



</div>