<div class="container p-10" style="margin-bottom:10%;">
    <div class="alert alert-success text-center">
        <h1>BOOK YOUR APPOINTMENT</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <form>
                        <div class="card-header">
                            <h6>DOCTOR DETAILS</h6>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row h-200 ">
                                    <div class="col-md-8">
                                        <h5 class="card-title"><span>Dr. {{doctor.dd.first_NAME}}
                                                &nbsp;{{doctor.dd.last_NAME}}
                                            </span></h5>
                                        <p class="card-text"> {{doctor.dd.specialization}}</p>
                                        <p class="card-text">{{doctor.dd.chembar_ADDRESS}}</p>
                                        <p class="card-test"><span class="badge rounded-pill bg-success text-white"><b>₹
                                                    {{doctor.dd.visiting_PRICE}}</b></span></p>

                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div>
                                            <h5 class="card-title">Choose Your Slot</h5>
                                            <div class="card-text justify-content-end">
                                                <div *ngFor="let a of doctor.as" class="form-check">
                                                    <input class="form-check-input" type="radio" id="gridCheck"
                                                        name="appointment_SCHEDULE_ID" [(ngModel)]="appoimentDetails.appointment_SCHEDULE_ID" value="{{a.id}}">
                                                    <label class="form-check-label" for="gridCheck">
                                                        <b>{{a.schedule_DAY}}</b> FROM <b>{{a.schedule_TIME_START}}</b> TO
                                                        <b>{{a.schedule_TIME_END}}</b>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <form>
                        <div class="card-header">
                            <h6>YOUR DETAILS</h6>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row h-200 ">
                                    <div class="col-md-8">
                                        <h5 class="card-title"><span>{{patient.patientDetails.first_NAME}} &nbsp;
                                                {{patient.patientDetails.last_NAME}}
                                            </span></h5>
                                        <p class="card-text">{{patient.patientDetails.gender}}</p>
                                        <p class="card-text"><b>{{patient.patientDetails.mobile_NO}}</b></p>
                                        <p class="card-text">{{patient.patientDetails.email_ID}}</p>
                                        <p class="card-text">{{patient.patientDetails.address}}</p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </form>
                </div>
            
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" (click)="bookAppointment()">Book Appointment</button>
        </div>
    </div>


   
</div>