<div class="container-fluid bg-primary" style="height:300px;align-items: center;display: flex;">
    <div class="container " style="width:60%;align-items:center;display: flex;">
        <div class="col" style="align-items: center;">
            <h1 style="color:white;font-size:36px;">Find and Book</h1>
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-text"><img style="width:20px;height:20px;" src="/assets/images/pin.png">
                        </div>
                        <input type="text" class="form-control" style="height:50px;border:none;" [(ngModel)]="myCity">
                    </div>
                    <label class="text-white mt-1" (click)="setCurrentLocation()">Use my location</label>
                </div>
                <div class="col-sm-5 ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="specialization" data-bs-toggle="modal"
                            data-bs-target="#specializationModal" style="height:50px;border:none;"
                            [(ngModel)]="docSpcial">
                        <div class="input-group-text" style="cursor: pointer;" (click)="resetSpecilization()">&#x2715;
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 ">
                    <button class="btn btn-success" style="height:50px;" (click)="filterDoctorbyLocationAndSpecialization()">GO</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div *ngFor="let doctor of alldoctors" class="card" style="margin:5%;">
        <div class="card-header">
            {{doctor.dd.specialization}}
        </div>
        <div class="card-body">
            <div class="container ">
                <div class="row h-200 ">
                    <div class="col-md-7 alert alert-success">
                        <h5 class="card-title " style="font-size:20px;"><span>Dr. {{doctor.dd.first_NAME}} &nbsp;
                                {{doctor.dd.last_NAME}}</span>
                        </h5>
                        <p class="card-text">{{doctor.dd.chembar_ADDRESS}}</p>
                        <p class="card-test"><span class="badge rounded-pill bg-success text-white"><b>₹
                                </b>{{doctor.dd.visiting_PRICE}}</span></p>

                    </div>
                    <div class="col-md-4 text-end alert alert-primary" style="margin-left:5rem;">
                        <h5 style="font-size: 20px">Available Slot</h5>
                        <div style="overflow-y:scroll; height:100px;">
                            <p *ngIf="checkSchedule(appScheduleSunday,doctor.dd.id)"
                                class="badge bg-dark text-white text-center rounded-pill">SUNDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleSunday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleMonday,doctor.dd.id)"
                                class="badge bg-dark text-white text-center rounded-pill">MONDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleMonday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleTuesday,doctor.dd.id)"
                                class="badge bg-dark text-white text-center rounded-pill">TUESDAY
                            </p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleTuesday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleWednesday,doctor.dd.id)"
                                class="badge bg-dark text-white text-center rounded-pill">
                                WEDNESDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleWednesday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleThursday,doctor.dd.id)"
                                class="badge bg-dark text-white text-center rounded-pill">THURSDAY
                            </p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleThursday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleFriday,doctor.dd.id)"
                                class=" badge bg-dark text-white text-center rounded-pill">FRIDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleFriday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleSaturday,doctor.dd.id)"
                                class="badge bg-dark text-white text-center rounded-pill">SATURDAY
                            </p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleSaturday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!-- <p *ngFor="let  appointment of doctor.as" class="card-text">
                                <b>{{appointment.schedule_DAY}}</b> &nbsp;
                                <b>{{appointment.schedule_TIME_START}}</b> TO <b>{{appointment.schedule_TIME_END}}</b>
                            </p> -->
                        <button class="btn btn-outline-dark mt-1" (click)="doBookAppointment(doctor.dd.id)">Book
                            Appointment</button>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="specializationModal" tabindex="-1" aria-labelledby="specializationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="specializationModalLabel">Select Specialization</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="badge bg-primary" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Orthopedics')">Orthopedics</span>
                <span class="badge bg-success" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Internal Medicine')">Internal Medicine</span>
                <span class="badge bg-primary" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Obstetrics and Gynecology')">Obstetrics and
                    Gynecology</span>
                <span class="badge bg-dark" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Dermatology')">Dermatology</span>
                <span class="badge bg-info" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Pediatrics')">Pediatrics</span>
                <span class="badge bg-primary" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Radiology')">Radiology</span>
                <span class="badge bg-warning" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('General Surgery')">General Surgery</span>
                <span class="badge bg-primary" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('Family Medicine')">Family Medicine</span>
                <span class="badge bg-danger" style="font-size:14px;margin:5px;cursor:pointer;" data-bs-dismiss="modal"
                    aria-label="Close" (click)="setSpecialization('ENT')">ENT</span>
            </div>
        </div>
    </div>
</div>


<!--https://ipapi.co/json-->