<div class="container">
    <h2 class="display-4 text-center py-5">Available Doctors</h2>
    <div *ngFor="let doctor of alldoctors" class="card" style="margin:5%;">
        <div class="card-header">
            {{doctor.dd.specialization}}
        </div>
        <div class="card-body">
            <div class="container ">
                <div class="row h-200 ">
                    <div class="col-md-7 alert alert-success">
                        <h5 class="card-title"><span>Dr. {{doctor.dd.first_NAME}} &nbsp; {{doctor.dd.last_NAME}}</span>
                        </h5>
                        <p class="card-text">{{doctor.dd.chembar_ADDRESS}}</p>
                        <p class="card-test"><span class="badge rounded-pill bg-success text-white"><b>₹
                                </b>{{doctor.dd.visiting_PRICE}}</span></p>

                    </div>
                    <div class="col-md-4 text-end alert alert-primary"  style="margin-left:5rem;">
                        <h5>Available Slot</h5>
                        <div style="overflow-y:scroll; height:100px;">
                            <p *ngIf="checkSchedule(appScheduleSunday,doctor.dd.id)" class="badge bg-dark text-white text-center rounded-pill">SUNDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleSunday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleMonday,doctor.dd.id)" class="badge bg-dark text-white text-center rounded-pill">MONDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleMonday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleTuesday,doctor.dd.id)" class="badge bg-dark text-white text-center rounded-pill">TUESDAY
                            </p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleTuesday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleWednesday,doctor.dd.id)" class="badge bg-dark text-white text-center rounded-pill">
                                WEDNESDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleWednesday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleThursday,doctor.dd.id)" class="badge bg-dark text-white text-center rounded-pill">THURSDAY
                            </p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleThursday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleFriday,doctor.dd.id)" class=" badge bg-dark text-white text-center rounded-pill">FRIDAY</p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleFriday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>

                            <p *ngIf="checkSchedule(appScheduleSaturday,doctor.dd.id)" class="badge bg-dark text-white text-center rounded-pill">SATURDAY
                            </p>
                            <div>
                                <p *ngFor="let appointment of getSchedule(appScheduleSaturday,doctor.dd.id)"
                                    class="badge bg-primary text-white"
                                    style="width:80px;margin-left:5px;display:inline-block">
                                    <span>{{appointment.schedule_TIME_START}}
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!-- <p *ngFor="let  appointment of doctor.as" class="card-text">
                                <b>{{appointment.schedule_DAY}}</b> &nbsp;
                                <b>{{appointment.schedule_TIME_START}}</b> TO <b>{{appointment.schedule_TIME_END}}</b>
                            </p> -->
                        <button class="btn btn-outline-dark mt-1" (click)="doBookAppointment(doctor.dd.id)">Book
                            Appointment</button>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>